<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-6 text-center">
            <h2>Error!!!!!! 404!!!</h2>
            <p>Page does not exist</p>
            <a href="#" class="btn btn-dark" style="width: 80px;" onclick="history.back(); return false;">Back</a>
        </div>
    </div>
</div>